<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<configuration monitorInterval="60">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p %c{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!--OFF-->
    <!--<Logger name="org.apache.zookeeper" level="OFF"/>-->
    <!--<Logger name="org.apache.storm.logging.ThriftAccessLogger" level="OFF"/>-->
    <!--<Logger name="org.apache.curator.utils.DefaultTracerDriver" level="OFF"/>-->
    <!--<Logger name="org.apache.storm.blobstore.FileBlobStoreImpl" level="OFF"/>-->
    <!--<Logger name="org.apache.storm.blobstore.LocalFsBlobStore" level="OFF"/>-->
    <!--<Logger name="org.apache.storm.blobstore.BlobStoreUtils" level="OFF"/>-->
    <!--<Logger name="org.apache.storm.starter.trident.DebugMemoryMapState" level="OFF"/>-->
    <!--<Logger name="org.apache.kafka.common.metrics.Metrics" level="OFF"/>-->
    <!--<Logger name="o.a.s.s.r.ResourceUtils" level="OFF"/>-->

    <!-- ALL -->

    <Logger name="org.apache.storm.trident.topology.MasterBatchCoordinator" level="ALL"/>
    <!--<Logger name="org.apache.storm.trident.operation.builtin.Debug" level="ALL"/>-->
    <Logger name="org.apache.storm.trident.spout.TridentSpoutExecutor" level="ALL"/>
    <Logger name="org.apache.storm.trident.topology.TridentBoltExecutor" level="ALL"/>
    <!--<Logger name="org.apache.storm.trident.spout.OpaquePartitionedTridentSpoutExecutor" level="ALL"/>-->
    <Logger name="org.apache.storm.trident.spout.OpaquePartitionedTridentSpoutExecutor$Coordinator" level="ALL"/>
    <Logger name="org.apache.storm.trident.spout.OpaquePartitionedTridentSpoutExecutor$Emitter" level="ALL"/>
    <!--<Logger name="org.apache.storm.trident.spout.PartitionedTridentSpoutExecutor.Coordinator" level="ALL"/>-->
    <!--<Logger name="org.apache.storm.trident.spout.PartitionedTridentSpoutExecutor.Emitter" level="ALL"/>-->
    <!--<Logger name="org.apache.storm.starter.spout.RandomSentenceSpout" level="ALL"/>-->
    <!--<Logger name="org.apache.storm.kafka.trident.TridentKafkaEmitter" level="ALL"/>-->
    <!--<Logger name="org.apache.storm.kafka.KafkaUtils" level="ALL"/>-->

    <!--New Trident Spout -->
    <!--<Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutBatchMetadata" level="ALL"/>-->
      <Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutEmitter" level="ALL"/>
      <Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutManager" level="ALL"/>
      <Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutOpaque" level="ALL"/>
      <!--<Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutOpaqueCoordinator" level="ALL"/>-->
      <!--<Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutTopicPartition" level="ALL"/>-->
      <!--<Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutTopicPartitionRegistry" level="ALL"/>-->
      <!--<Logger name="org.apache.storm.kafka.spout.trident.KafkaTridentSpoutTransactional" level="ALL"/>-->

    <!--New Kafka Spout -->
    <!--<Logger name="org.apache.storm.kafka.spout.KafkaSpout" level="ALL"/>-->

    <!-- internals -->
    <!--<Logger name="org.apache.storm.daemon.executor" level="ALL"/>-->
    <Logger name="org.apache.storm.trident.topology.state.RotatingTransactionalState" level="ALL"/>
    <Logger name="org.apache.storm.trident.topology.state.TransactionalState" level="ALL"/>

    <!--<Logger name="org.apache.kafka" level="ALL"/>-->

    <!--<Root level="INFO">-->
    <Root level="ALL">
    <!--<Root level="OFF">-->
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</configuration>

